# Azure DevOps Pipeline (YAML) – Sprint4DevOps
trigger:
  branches:
    include:
      - main

variables:
  azureSubscription: 'SC_Sprint4DevOps'
  appName: 'app-sprint4-rm556620'
  packagePath: '$(Pipeline.Workspace)/drop/**/*.jar'   # mais seguro

pool:
  vmImage: 'ubuntu-latest'

stages:
- stage: Build
  displayName: 'Build & Test'
  jobs:
  - job: Build
    displayName: 'Maven build + tests'
    steps:
    - checkout: self

    - task: JavaToolInstaller@0
      inputs:
        versionSpec: '17'
        jdkArchitectureOption: 'x64'
        jdkSourceOption: 'PreInstalled'

    - script: mvn -B -DskipTests=false clean test package
      displayName: 'Maven test & package'

    - task: PublishBuildArtifacts@1
      displayName: 'Publicar artefato (.jar)'
      inputs:
        PathtoPublish: 'target'
        ArtifactName: 'drop'
        publishLocation: 'Container'

- stage: Deploy
  displayName: 'Deploy to App Service'
  dependsOn: Build
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  jobs:
  - deployment: DeployToProd
    displayName: 'Deploy – $(appName)'
    environment: 'production'
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: drop
          - task: AzureWebApp@1
            displayName: 'Azure WebApp Deploy (.jar)'
            inputs:
              azureSubscription: '$(azureSubscription)'
              appType: 'webAppLinux'
              appName: '$(appName)'
              package: '$(packagePath)'
